@function toRem($pixels) {
   @return #{$pixels / 16}em;
}

$colors-list: #e27d60, #66ad89, #e8a87c, #c38d9e, #41b3a3, #8d8741, #659dbd, #daad86, #bc986a, #5cdb95,
   #907163, #379683;

@each $current-color in $colors-list {
   $i: index($colors-list, $current-color);
   .base-background-color-#{$i} {
      background-color: $current-color;
      transition: background-color 1s linear;
   }

   .base-color-#{$i} {
      color: $current-color;
   }
}

body {
   font-family: Oxygen;
}

%border-radius {
   border-radius: 3px;
}

.App--background {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card {
   @extend %border-radius;

   width: toRem(550);
   background-color: white;
   padding: toRem(40) toRem(50);
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.quote {
   margin: 0 0 toRem(16) 0;
   display: flex;
   flex-direction: column;
}

.quote__title {
   font-size: toRem(28);
   text-align: center;
   margin-top: 0;
}

.quote__icon {
   width: toRem(14);
   margin-right: toRem(8);
   position: relative;
   top: 1px;
}

.quote__author {
   align-self: flex-end;
   font-size: toRem(18);
}

.buttons {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
}

.buttons__twitter {
   @extend %border-radius;

   width: 48px;
   height: 48px;
}

.buttons__quote {
   @extend %border-radius;

   display: flex;
   align-items: center;
   color: white;
   cursor: pointer;
   border-style: none;
   font-weight: bold;
   padding: 0 16px;
   margin-top: 3px;
   height: 42px;
}

.github {
   margin-top: 16px;
}

.github-link {
   color: black;
}
